body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    z-index: 2;
    width: 100%;
    color: white;
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 1.5em;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-left: 10%;
}

.text {     
    margin-top: 100px;
    color: white;
    z-index: 1;
    max-width: 70%;
}
.text p{
    font-size: 18px;
    text-align: justify;
}
.text h1{
    margin: 0;
    font-size: 4em;
}
.text::first-line{
    color: #d73333;
}
.text ul{
    padding: 0;
}
.text ul i{
    border: solid #d73333 2px;
    border-radius: 50px;
    padding: 8px;
    margin: 0 8px;
    font-size: 18px;
    color: #d73333;
}
.text ul i:hover{
    border-color: white;
    color: white;
}
.btn{
    border: solid #d73333 2px;
    padding: 8px 20px;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    color: white;
    text-decoration: none;
    border-radius: 50px;
}

.btn:hover{
    border: solid white 3px;
}

#cube-container {
    position: fixed;
    right: 0;
    z-index: 0;
    width: 60%;
    background-color: #000000;
    height: 100%;
}

.nav-links {
    width: 50%;
    justify-content: space-around;
    z-index: 2;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    padding: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #d73333;
    text-decoration: underline;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        background-color: #000000;
        top: 50px;
        right: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
    }
    .text h1{
        font-size: 3em;
    }
    .text{
        margin-top: 30px;
    }
    .logo a{
        margin-left: 15px;
    }
}

/* Show menu when active */
.nav-active {
    display: flex;
}